{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-underscore-dangle": [
      1,
      {
        "allow": ["_id"]
      }
    ],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}